.first-v {
    height: 100vh;
    background-image: url(../img/component1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;

    &__wrap {
        font-size: 3.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 12%;
        text-align: center;
    }
}


.catch {
    width: 326px;
    font-family: "游明朝";
}

.fv-catch {
    width: 390px;
    font-family: "SimSun";

}